<%= @domain.name %>
<%= @domain.product_sample_url %>

<p>
  <% for xpath in @domain.xpaths %>
    <p id="<%= "rule_#{xpath.id}" %>">
        <%= xpath.path %> ->  <%= xpath.column_name %> ->  <%= xpath.clean_rule %>
        <%= link_to 'test', test_rule_domain_path(xpath), remote: true %>
        <%= link_to 'тип', remove_rule_domain_path(xpath), method: :delete, remote: true %>
    </p>
  <% end %>
</p>
<div id="test_result"></div>

<%= form_for @rule, url: {action: 'add_rule'} do |rule| %>
    <%= rule.label :path %> :
    <%= rule.text_field :path %><br>
    <%= rule.label :column_name %> :
    <%= rule.select :column_name, @column_names %><br>
    <%= rule.label :clean_rule %> :
    <%= rule.text_field :clean_rule %><br>
    <%= submit_tag 'Create rule' %>
<% end %>

